.container-fluid.content
  .row
    .col-md-12.text-center.text-uppercase.header: h1 Студия дополненной и виртуальной реальности
    .col-md-12.text-center.small_header мы видим то, что Вам даже не снилось
    .col-md-12
        //Here is our great eye logo
        img.img-responsive(src="../pictures/content/eye.png", alt="logo")
    .col-md-12
      .arrows_down
    .col-md-12
        img.img-responsive.farel_logo(src="../pictures/content/farel_logo_big.png", alt="farel_logo")
