.container-fluid.infographic_screen#screen
  .row
    .col-md-12.text-center.text-uppercase
       h1 Использование на бесконтактных экранах
         img(src="../pictures/infographic_screen/play.png", alt="Play")
    .col-md-12
      .number 2
    .col-md-12.text-center
      h2 Фиксация человека при попадании </br> на таргет
    .col-md-12.text-center
      img.img-responsive(src="../pictures/infographic_screen/info_graphic.png", alt="Main")
        
    .col-lg-12.instructions
      .col-lg-4.col-lg-push-2.text-center
        .box_one 
          .number 1
          h3 Устанавливаем</br> необходимое</br> оборудование
      .col-lg-4.col-lg-push-2.text-center
        .box_two
          .number 3 
          h3 Взаемодействие</br> с дополненной реальностью
      
