.container-fluid.company#company
  .row
    .col-md-12.text-center.text-uppercase.company_header: h1 Использование дополненной реальности</br> мировыми компаниями
    .col-md-12
      .col-md-4
        img.img-responsive(src="../pictures/company/ikea.png", alt="Ikea")
      .col-md-4
        img.img-responsive(src="../pictures/company/geo.png", alt="National Geographic")
      .col-md-4
        img.img-responsive(src="../pictures/company/loreal.png", alt="Loreal Paris")
          
    .col-md-12
      .col-md-4
        img.img-responsive(src="../pictures/company/ww.png", alt="WW")
      .col-md-4
        img.img-responsive(src="../pictures/company/esquire.png", alt="Esquire")
      .col-md-4
        img.img-responsive(src="../pictures/company/invercasa.png", alt="Invercasa")  
