nav.navbar.navbar-default.container-fluid.navbar-fixed-top#head( role="navigation" )
    // Here we created our head
    //This part shows as a burger on the phones and tablets
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .logo
          img(src='../pictures/head/logo.png')
    //All the Itmes of the nav bar
    #navbar-inverse.collapse.navbar-collapse
        ul.nav.navbar-nav
            li: a( href="#about") Что мы делаем?
            li: a( href="#company" ) Использование
            li: a( href="#using" ) Как это работает
            li: a( href="#screen" ) Блог
            li: a( href="#contact" ) Контакты 
        ul.nav.navbar-nav.second
            // Language toggler
            li: a( href="#") EN
            li: a( href="#" ) RU
  
