.container-fluid.instruction
  .row
    .col-md-12
      .inst_container_one.col-md-8.col-md-push-2
        .number 1
        .text Скачайте и установите приложение <span>FAREL</span>
        .logo_container
          .logo_one
          .logo_two
    .col-md-12
      .inst_container_one.col-md-8.col-md-push-2
        .number 2
        .text Наведите камеру на наш логотип
        .logo_container
          .logo_one
          .logo_two
    .col-md-12
      .inst_container_one.col-md-8.col-md-push-2
        .number 3
        .text Изучайте мир дополненой реальности!
        .logo_container
          .logo_one
          .logo_two
    .col-md-12
      .brands_container.col-md-8.col-md-push-2
        .Apple.brand
        .Google.brand
