.container-fluid.instruction#instruction
  .row
    
    .col-md-12
      .inst_container_one.col-md-8.col-md-push-2
        .number 1
        .text Скачайте и установите приложение <span>FAREL</span>
        .logo_container.first
          .logo_one
          .logo_two
        
    .col-md-12
      .col-md-8.col-md-push-2
        .point-box
          .point
          .point    
            
    .col-md-12
      .inst_container_one.col-md-8.col-md-push-2
        .number 2
        .text Наведите камеру на наш логотип
        .logo_container.second
          .logo_one
          .logo_two
      
    .col-md-12
      .col-md-8.col-md-push-2
        .point-box
          .point
          .point  
            
    .col-md-12
      .inst_container_one.col-md-8.col-md-push-2
        .number 3
        .text Изучайте мир дополненой реальности!
        .logo_container.third
          .logo_one
          .logo_two
            
    .col-md-12
      .brands_container.col-xs-12.col-md-6
        .apple.brand
        .google.brand
