@import bourbon
@import content_style/content.sass
@import head_style/head.sass
@import instruction_style/instruction.sass
@import about_style/about.sass
@import company_style/company.sass
@import using_with_phone_style/using.sass
@import infographic_screen_style/infographic_screen.sass
@import contact_style/contact.sass
@import location_style/location.sass

body
  margin: 0px
  padding: 0px
  background: #f3f3f3
